/* Piperita - Theme */
/* by Jacob Tomlinson () */
/* Imported into style.scss — variables prefixed with `p-` to avoid clashes. */

/* Colours */
$p-base-white:      #E6E6E6;
$p-base-red:        #FF0028;
$p-light-black:     #737373;
$p-dark-black:      #4C4C4C;
$p-light-red:       #FFA8BA;
$p-dark-red:        #FF6685;
$p-light-green:     #C5EBC5;
$p-dark-green:      #A6EBA6;
$p-light-yellow:    #F9F9A5;
$p-dark-yellow:     #FFDC72;
$p-light-blue:      #8DDBFF;
$p-dark-blue:       #5DC6F5;
$p-light-purple:    #FFABFF;
$p-dark-purple:     #FF8FFF;
$p-light-aqua:      #B0F0F0;
$p-dark-aqua:       #86D1D7;
$p-light-white:     #FFFFFF;
$p-dark-white:      #DBDBDB;


/* Piperita Dark Title */
.hljs-title {
  color: $p-dark-white;
}

/* Piperita Dark Green */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: $p-dark-green;
}

/* Piperita Dark Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #f2683a;
}

/* Piperita Dark Yellow */
.hljs-ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: $p-dark-yellow;
}

/* Piperita Dark Red */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: $p-dark-red;
}

/* Piperita Dark Aqua */
.css .hljs-hexcolor {
  color: $p-dark-aqua;
}

/* Piperita Dark Blue */
.hljs-function,
.hljs-comment,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: $p-dark-blue;
}

/* Piperita Dark Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: $p-dark-purple;
}

.hljs {
  display: block;
  overflow-x: auto;
  color: $p-base-white;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
