<div class="footer">
  <div class="footer-item">
    {{ site.footer_left }}
  </div>
  <div class="footer-badge">
    <a href="https://www.w3.org/WAI/WCAG22/Conformance/">
      <img src="{{ site.baseurl }}/images/wcag22AA.png" alt="WCAG 2.2 Level AA conformance badge" width="128" height="45" loading="lazy" decoding="async" />
    </a>
  </div>
  <div class="footer-item">
    {{ site.footer_right }}
  </div>
</div>

<script src="{{ site.baseurl }}/js/highlight.min.js"></script>
<script>window.hljs && (window.hljs.highlightAll ? window.hljs.highlightAll() : window.hljs.initHighlightingOnLoad());</script>
<script src="{{ site.baseurl }}/js/main.js"></script>


