<footer class="footer">
  <div class="footer-item">
    {{ site.footer_left }}
  </div>
  <div class="footer-badge">
    <a href="https://www.w3.org/WAI/WCAG2AA-Conformance">
      <img src="{{ site.baseurl }}/images/wcag22AA.png" alt="WCAG 2.2 Level AA conformance badge" width="128" height="45" loading="lazy" decoding="async" />
    </a>
  </div>
  <div class="footer-item">
    {{ site.footer_right }}
  </div>
  <div class="footer-accessibility">
    <a href="{{ site.baseurl }}/accessibility/">Accessibility statement</a>
  </div>
</footer>

{% if include.has_code %}
<script src="{{ site.baseurl }}/js/highlight.min.js"></script>
<script src="{{ site.baseurl }}/js/highlight-init.js"></script>
{% endif %}
<script src="{{ site.baseurl }}/js/main.js"></script>


