<p class="links">
  {% if site.linktree %}<a href="http://linktr.ee/{{ site.linktree }}" target="_new"><i class="fa-brands fa-linktree"></i></a>{% endif %}
  {% if site.twitter_username %}<a href="https://www.twitter.com/{{ site.twitter_username }}" target="_new"><i class="fa-brands fa-twitter"></i></a>{% endif %}
  {% if site.mastodon_link %}<a href="{{ site.mastodon_link }}" target="_new"><i class="fa-brands fa-mastodon"></i></a>{% endif %}
  {% if site.bluesky_username %}<a href="https://bsky.app/profile/{{ site.bluesky_username }}" target="_new"><i class="fa-brands fa-bluesky"></i></a>{% endif %}
  {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_new"><i class="fa-brands fa-github-alt"></i></a>{% endif %}
  {% if site.linkedin_link %}<a href="{{ site.linkedin_link }}" target="_new"><i class="fa-brands fa-linkedin"></i></a>{% endif %}
  {% if site.stackoverflow_link %}<a href="{{ site.stackoverflow_link }}" target="_new"><i class="fa-brands fa-stack-overflow"></i></a>{% endif %}
  {% if site.facebook_link %}<a href="{{ site.facebook_link }}" target="_new"><i class="fa-brands fa-facebook"></i></a>{% endif %}
  {% if site.instagram_username %}<a href="https://www.instagram.com/{{ site.instagram_username }}" target="_new"><i class="fa-brands fa-instagram"></i></a>{% endif %}
  {% if site.reddit_username %}<a href="https://www.reddit.com/u/{{ site.reddit_username }}" target="_new"><i class="fa-brands fa-reddit-alien"></i></a>{% endif %}
  <a href="{{ site.baseurl }}/feed.xml" target="_new"><i class="fa-solid fa-rss"></i></a>
</p>