<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>

    <header>
      <a class="skip-link" href="#main-content">Skip to main content</a>
      {% include header.html %}
    </header>

    <main class="page-content" id="main-content">
      <div class="wrap">
      {{ content }}
      </div>
    </main>

    {% assign page_has_code = false %}
    {% if content contains '<pre' %}{% assign page_has_code = true %}{% endif %}
    {% include footer.html has_code=page_has_code %}

    </body>
</html>
